<b-row class="content">
  <b-col class="text-center">
    <h1>Welcome to Kokalee</h1>
    <h5 id="weclomeMessage"><p>Kokalee is a software-supported, plug-and-play mobile intranet that allows you to maintain business-critical functionality in offline and remote environments.</p></h5>
    <br>
    <login id="login"></login>
  </b-col>
</b-row>


<!-- <div class="container content">
  <div class="row">
    <div class="content col-md-4">
      <h1>Test Title</h1>

      <div>
        <b-btn v-b-modal.modal1>Launch demo modal</b-btn>

        <b-modal id="modal1" title="Bootstrap-Vue">
          <p class="my-4">Hello from modal!</p>
        </b-modal>
      </div>



    </div>
  </div>
</div> -->
