@import "~bootstrap/scss/bootstrap.scss";

html, body, #app-main {
  height: 100%;
  width: 100%;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
}

// TODO: fix chat page
// .main-content {
//   display: flex;
// }

.content {
  margin-top: $navbar-height + 20px
}
