@import "~bootstrap/scss/bootstrap.scss";

html, body, #app-main {
  height: 100%;
  width: 100%;
  font-family: 'Space Mono';
}

a {
  color: #716C66;
  text-decoration: none;
}

a:hover {
  color: #CACD4D;
  text-decoration: none;
}

h2 {
  color: #34312D;
}

.resources-link{
  color: #B48A33;
  text-decoration: none;
}


.container {
  margin-left: 0px;
  margin-right: 0px;
}

// TODO: fix chat page
// .main-content {
//   display: flex;
// }

.content {
  margin-top: $navbar-height + 20px
}

.pl-0, .px-0{
  padding-right: 0px !important;
}
