#sidemenu {
  background: #eee;
  height: 100vh;
  padding-top: $navbar-height + 20px;

  ul {
    padding-left: 0px;
    list-style: none;
  }
  li {
    padding-left: 8px;
    margin-top: 8px;
  }

  .container {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 767px) {
  #sidemenu {display:none;}
}
