#todo{
  .checkbox-center {
    margin-right: 0rem;
  }

  .custom-control-label::before {
    top: 0.57rem;
  }


  .custom-control-label::after {
    top: 0.57rem;
  }

  .form-control-lg {
    @media only screen and (max-width: 342px) {
      font-size: 1rem;
    }
  }

  #todo-group {
    padding-bottom: 6px;
  }
  // #form-input {
  //   display: inline-block;
  //   width:auto;
  // }
}
