$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #34312D !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #ff8000 !default;
$yellow:  #ffc100 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$kokalee-green:   #C7CF4E !default;
$kokalee-brown:   #BC3B34 !default;
$kokalee-gray-1:  #716C66 !default;
$kokalee-gray-2:  #4F4B47 !default;
$kokalee-dark:    #34322D !default;

$primary:       $kokalee-brown !default;
$secondary:     $kokalee-gray-1 !default;
$success:       $kokalee-green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $kokalee-dark !default;

$navbar-height: 67px;
