<b-navbar toggleable="md" type="dark" variant="dark" fixed="top">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="header">
    <b-navbar-brand href="#"><img id="headerLogo" src="../../assets/img/fullLogo_small.png"/></b-navbar-brand>
    <b-navbar-toggle v-if="showNav" id="navToggle" target="navbar">
    </b-navbar-toggle>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <b-collapse is-nav id="navbar">
    <b-navbar-nav>
      <b-nav-item v-for="link in links" :key="link.path" v-bind:class="{'active' : $route.path == link.path}" :to="link.path">
        {{link.name}}
      </b-nav-item>
      <li class="nav-item"><a href="http://192.186.0.100:3004" class="nav-link" target="_blank">Chat</a></li>
    </b-navbar-nav>
  </b-collapse>
  <!-- <login id="login">
  </login> -->
</b-navbar>
