<b-navbar toggleable type="dark" variant="dark" class="sticky-top">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div>
    <b-navbar-toggle target="navbar">
    </b-navbar-toggle>
    <b-navbar-brand href="#">Kokalee Technologies</b-navbar-brand>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <b-collapse is-nav id="navbar">
    <b-navbar-nav>
      <b-nav-item v-for="link in links" :key="link.path" v-bind:class="{'active' : $route.path == link.path}">
        <router-link v-bind:to="link.path">{{link.name}}</router-link>
      </b-nav-item>
    </b-navbar-nav>
  </b-collapse>
</b-navbar>
